@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Gilda+Display&family=Jost:ital,wght@0,100..900;1,100..900&family=Marcellus&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-uniquifier{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
   h1,h2,h3,h4,h5.h6{
    font-family: "Roboto", sans-serif;
    color: #1f2937;
   }
   span,p{
    font-family: "Roboto", sans-serif;
    letter-spacing:   .5px;
   }
   p{
    color:#4b5563;
   }

.connt-btn {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #ffedd3;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
    border:1px solid #111;
  }
  
  .connt-btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ffc506;
    transition: 0.5s ease;
  }
  
  .connt-btn:hover {
    color: #1e1e2b;
    transition-delay: 0.5s;
  }
  
  .connt-btn:hover::before {
    width: 100%;
  }
  
  .connt-btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ffc506;
    transition: 0.4s ease;
    z-index: -1;
  }
  
  .connt-btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
  }
  
  @media only screen and (max-width: 768px) {
    .connt-btn {
      column-gap:10px;
    }
  }
  

  /* From Uiverse.io by CristianMontoya98 */ 
.pr-btn {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
 }
 
 .pr-btn:hover {
  color: black;
 }
 
 .pr-btn:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  -webkit-transform: skewX(-45deg) scale(0, 1);
      -ms-transform: skewX(-45deg) scale(0, 1);
          transform: skewX(-45deg) scale(0, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 }
 
 .pr-btn:hover:after {
  -webkit-transform: skewX(-45deg) scale(1, 1);
      -ms-transform: skewX(-45deg) scale(1, 1);
          transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 }